In [35]:
import pandas as pd
import numpy as np

In [36]:
# pandasæä¾›ä¸€ä¸ªgroupbyæ¥å£ï¼Œå¯ä»¥å¯¹æ•°æ®é›†è¿›è¡Œåˆ‡ç‰‡ã€åˆ‡å—å’Œæ€»ç»“.

# 10.1 Group byæœºåˆ¶

In [37]:
# Demo
df = pd.DataFrame({'key1': ['a', 'a', 'b', 'b', 'a'],
                   'key2': ['one', 'two', 'one', 'two', 'one'],
                   'data1': np.random.randn(5),
                   'data2': np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -1.578945 -0.422153
1    a  two -0.304687 -0.483221
2    b  one -0.121286  1.184114
3    b  two -1.604140  0.835268
4    a  one  1.044308  0.481501

In [38]:
# Goalï¼šæ ¹æ®key1æ ‡ç­¾è®¡ç®—data1åˆ—çš„å‡å€¼
# Solutionï¼šè®¿é—®data1å¹¶ä½¿ç”¨key1åˆ—è°ƒç”¨groupbyæ–¹æ³•ï¼Œå¾—åˆ°ä¸€ä¸ªSeries.
grouped = df['data1'].groupby(df['key1'])
grouped.mean()

key1
a   -0.279775
b   -0.862713
Name: data1, dtype: float64

In [39]:
# ä½¿ç”¨ä¸¤ä¸ªé”®å¯¹æ•°æ®åˆ†ç»„ï¼Œç»“æœSeriesæœ‰ä¸€ä¸ªåŒ…å«å”¯ä¸€é”®å¯¹çš„å¤šå±‚ç´¢å¼•.
means = df['data1'].groupby([df['key1'], df['key2']]).mean()
means

key1  key2
a     one    -0.267318
      two    -0.304687
b     one    -0.121286
      two    -1.604140
Name: data1, dtype: float64

In [40]:
# df['key2']ä¸æ˜¯æ•°å€¼æ•°æ®ï¼Œæ˜¯ä¸€ä¸ªå†—ä½™åˆ—ï¼Œæ‰€ä»¥ä¸æ˜¾ç¤º.
df.groupby('key1').mean()

         data1     data2
key1
a    -0.279775 -0.141291
b    -0.862713  1.009691

In [41]:
# sizeæ–¹æ³•è¿”å›åŒ…å«ç»„å¤§å°ä¿¡æ¯çš„Series.
# åˆ†ç»„ä¸­çš„ç¼ºå¤±å€¼æ’é™¤åœ¨ç»“æœå¤–.
df.groupby('key1').size()

key1
a    3
b    2
dtype: int64

### 10.1.1 éå†å„åˆ†ç»„
GroupByå¯¹è±¡æ”¯æŒè¿­ä»£ï¼Œä¼šç”Ÿæˆä¸€ä¸ªåŒ…å«ç»„åå’Œæ•°æ®å—çš„2ç»´å…ƒç»„åºåˆ—.

In [42]:
for name, group in df.groupby('key1'):
    print(name)
    print(group)

a
  key1 key2     data1     data2
0    a  one -1.578945 -0.422153
1    a  two -0.304687 -0.483221
4    a  one  1.044308  0.481501
b
  key1 key2     data1     data2
2    b  one -0.121286  1.184114
3    b  two -1.604140  0.835268

In [43]:
# å¤šä¸ªåˆ†ç»„é”®æƒ…å†µä¸‹ï¼Œå…ƒç»„çš„ç¬¬ä¸€ä¸ªå…ƒç´ æ˜¯é”®å€¼çš„å…ƒç»„.
for (k1, k2), group in df.groupby(['key1', 'key2']):
    print((k1, k2))
    print(group)

('a', 'one')
  key1 key2     data1     data2
0    a  one -1.578945 -0.422153
4    a  one  1.044308  0.481501
('a', 'two')
  key1 key2     data1     data2
1    a  two -0.304687 -0.483221
('b', 'one')
  key1 key2     data1     data2
2    b  one -0.121286  1.184114
('b', 'two')
  key1 key2    data1     data2
3    b  two -1.60414  0.835268

In [44]:
# å¯ä»¥åœ¨ä»»æ„è½´ä¸Šåˆ†ç»„
grouped = df.groupby(df.dtypes, axis=1)
for dtype, group in grouped:
    print(dtype)
    print(group)

float64
      data1     data2
0 -1.578945 -0.422153
1 -0.304687 -0.483221
2 -0.121286  1.184114
3 -1.604140  0.835268
4  1.044308  0.481501
object
  key1 key2
0    a  one
1    a  two
2    b  one
3    b  two
4    a  one

### 10.1.2 é€‰æ‹©ä¸€åˆ—æˆ–æ‰€æœ‰åˆ—çš„å­é›†
ä»DataFrameåˆ›å»ºçš„GroupByå¯¹è±¡ç”¨åˆ—åç§°æˆ–åˆ—æˆåæ•°ç»„è¿›è¡Œç´¢å¼•æ—¶ï¼Œä¼šäº§ç”Ÿç”¨äºèšåˆçš„åˆ—å­é›†çš„æ•ˆæœ.

In [45]:
df['data1'].groupby(df['key1'])
# è¯­æ³•ç³–ğŸ”½
df.groupby('key1')['data1']

In [46]:
df.groupby(['key1', 'key2'])['data2'].mean()

key1  key2
a     one     0.029674
      two    -0.483221
b     one     1.184114
      two     0.835268
Name: data2, dtype: float64

### 10.1.3 ä½¿ç”¨å­—å…¸å’ŒSeriesåˆ†ç»„

In [47]:
# åˆ†ç»„ä¿¡æ¯å¯èƒ½ä»¥éæ•°ç»„å½¢å¼å­˜åœ¨

In [48]:
people = pd.DataFrame(np.random.randn(5, 5), 
                      columns=['a', 'b', 'c', 'd', 'e'],
                      index=['Joe', 'Steve', 'Wes', 'Jim', 'Travis'])
people.iloc[2:3, [1, 2]] = np.nan
people

               a         b         c         d         e
Joe    -1.157354  0.876774 -0.603720 -1.481119 -0.434218
Steve  -1.466986  0.658311  0.618929 -0.307087 -0.655534
Wes     0.373463       NaN       NaN -0.386314 -0.735979
Jim    -2.745109  0.180282 -0.582819 -0.441969  0.740627
Travis  0.870106  0.633136  0.128452  1.918850 -1.008746

In [49]:
# æœ‰å„åˆ—çš„åˆ†ç»„å¯¹åº”å…³ç³»ï¼ŒæŠŠå„åˆ—æŒ‰ç»„ç´¯åŠ .
mapping = {'a': 'red', 'b': 'red', 'c': 'blue',
           'd': 'blue', 'e': 'red', 'f': 'orange'}

by_column = people.groupby(mapping, axis=1)
by_column.sum()

            blue       red
Joe    -2.084840 -0.714798
Steve   0.311843 -1.464209
Wes    -0.386314 -0.362516
Jim    -1.024788 -1.824199
Travis  2.047302  0.494496

In [50]:
# Seriesä¹Ÿæœ‰ç›¸åŒçš„åŠŸèƒ½ï¼Œè§†ä¸ºå›ºå®šå¤§å°çš„æ˜ å°„
map_series = pd.Series(mapping)
people.groupby(map_series, axis=1).count()

        blue  red
Joe        2    3
Steve      2    3
Wes        1    2
Jim        2    3
Travis     2    3

### 10.1.4 ä½¿ç”¨å‡½æ•°åˆ†ç»„